.link {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.mobile-menu-link {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}

.log-out-btn {
    background-color: #fff !important;
    float: right;
    color: #6255a5 !important;
    font-family: "Open Sans", sans-serif !important;
    font-size: 12px !important;
    margin-left: 20px !important;
}

.mobile-menu-log-out-btn {
    background-color: #6255a5 !important;
    float: right;
    color: #fff !important;
    font-family: "Open Sans", sans-serif !important;
    font-size: 12px !important;
    width: 100px;
    margin-right: 60px !important;
}